.Nav-Vertical {
  width: 300px;
  min-width: 240px;
  height: 30%;
  text-align: center;
  background-color: #f7f9f9;

  h3 {
    text-decoration: underline;
  }

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      a {
        text-decoration: none;
        color: black;
        
      }

      :hover {
        color: skyblue;
      }
    }
  }
}