@import "../../style/_color.scss";

@font-face {
  font-family: 'bpg_glaho_bold';
  src: url('../../Assets/fonts/bpg_glaho_bold.ttf');
}

.Nav-Vertical {
  width: 300px;
  min-width: 240px;
  min-height: 100%;
  background-color: $primary;
  font-family: 'bpg_glaho_bold';

  .Nav-Vertical-header {
    padding: 5px;
    background-color: #2A3942;


  h3 {
    color: #fff;
    margin-left: 1rem;
    text-align: center;
    margin-bottom: 2%;
  }
  }
  .iconM {
    font-size: 18px;
    margin-left: 170px;
    color: #2f89fc;
  }

  .icon {
    margin-right: 8px;
  }

  .Nav-Vertical-Container {
    margin-top: 15%;

    li {
      transition: 1s all;
      font-size: 18px;
      font-weight: 700;
      padding: 15px;
      margin-left: -20px;
      color: #fff;
      list-style: none;
      display: block;
    }
  }
  li:hover {
    transition: 1s all;
    color: #2f89fc;
    background-color: rgba(42, 56, 65, 0.82);
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    cursor: pointer;
  }
  .Nav-Vertical-Container li ul {
    background: #1E2B32;
    margin-left: 280px;
    margin-top: -38px;
    display: none;
    position: absolute;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
  }
  .Nav-Vertical-Container li:hover>ul {
    display: block;
    cursor: pointer;
  }

}