@import "../../style/_color.scss";
@font-face {
  font-family: 'bpg_glaho_traditional';
  src: url('../../Assets/fonts/bpg_glaho_traditional.ttf');
}



main {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;


.card {
  position: relative;
  width: 220px;
  background: $primary;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: $hoverColor2;
  transform: skewY(345deg);
  transition: 0.8s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 16px;
  color: $secondary;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 18px;
  color: $secondary;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  font-family: 'bpg_glaho_traditional';
  font-weight: 700;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: $primary;
  text-decoration: none;
  background: $hoverColor2;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.8s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 150px;
  width: auto;
}
}