main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    h1 {
      width: 100%;
    }
  }
  .Card-Container {
    width: 290px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
 
    img {
      width: 60%;
    }
    h5 {
      color: #192c60;
      width: 100%;
    }


  }
  .Card-Container:hover {
    border: 1px solid red;
  }