body {
  background-color: beige;
  height: 100vh;
  padding: 0;

  a {
    text-decoration: none;
  }

  .App {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;

    header {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      background-color: #192c60;
   
      .Logo-Container {
        width: 300px;

        img {
          width: 20%;
          min-width: 300px;
        }
      }

    }

    .Middle-Container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 2%;





    }


    .Footer-Container {
      text-align: center;
      width: 100%;
    }
  }
}