nav {
  width: 25%;
  text-align: center;
  background-color: rgba(5, 48, 243, 0.075);

  h3 {
    text-decoration: underline;
  }

  ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 10px;
      a {
        text-decoration: none;
        color: black;
        
      }

      :hover {
        color: skyblue;
      }
    }
  }
}